.first-group-wnd, .second-group-wnd, .third-group-wnd {
    display: inline-block;
}
.wrapper {
    background-color: rgb(53, 192, 146);
    width: 360px;
    padding: 3px;
}
.my-color {
     width: 100px; 
}
.foth-group-wnd {
    display: inline-block;
     margin-left: 65px; 
     direction: rtl;
}
.h1{
    color: #fff;
    font-size: 20px;
    text-align:center;
}