@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap');
*{transition: all .1s ease-in;}
* {
margin: 0;
padding: 0;
font-family: 'Raleway', sans-serif;
color: rgb(255, 255, 255);
}
body {
background-color: blueviolet;
}
.wrapper {
margin: 0 auto;
text-align: center;
width: 1200px;
height: 100vh;
position: relative;
}
.main-title p {
font-weight: bold;
line-height: 0.278;
font-size: 90px;
margin-top: 150px;
}
.text-title
{
width: 550px;
}
header {
display: flex;
flex-direction: column;
align-items: center;
}
.conteiner {
position: absolute;
top: 300px;
padding-top: 50px;
}

header p {
font-size: 17px;
line-height: 1.471;
font-weight: normal;
text-align: center;
}
.catalog-item {
width: 367px;
height: 309px;
display: inline-block;
margin-left: 15px;
margin-right: 15px;
box-shadow: 1px 2px 15px black;
}
.item-date {
width: 60px;
height: 60px;
background: url(./img/bg.png);
display: flex;
margin-top: 20px;
margin-left: 20px;
flex-direction: column;
justify-content: space-around;
}
.item-text {
text-align: left;
padding-left: 20px;
padding-right: 20px;
margin-top: 100px;
}
.item-author {
text-align: left;
padding-left: 20px;
margin-top: 40px;
}
    

#first-item {
background-image:
linear-gradient(to bottom, #f6f6f834, rgba(0, 0, 0, 0.89)), 
url(./img/img-1.png);
}
#second-item {
background-image:
linear-gradient(to bottom, #f6f6f834, rgba(0, 0, 0, 0.89)), 
url(./img/img-2.png);
}
#third-item {
background:
linear-gradient(to bottom, #f6f6f834, rgba(0, 0, 0, 0.89)), 
url(./img/img-3.png);
}
#first-item:hover {
transform:translate(-20px, 20px);
}
#second-item:hover {
transform:translate(0px, 20px);
}
#third-item:hover {
transform:translate(20px, 20px);
}
.item-day .item-month {
width: 60px;
height: 30px;
text-align: center;
align-items: center;
}
.item-day p {
font-size: 32px;
line-height: 0.781;
}
.item-month p {
font-size: 21px;
line-height: 1.19;
}


.main-title {
    height: 250px;
    /* vertical-align: bottom; */
}
.view {
    width: 150px;
    height: 50px;
    background-color: red;
    text-align: center;
    border: 0;
    margin-top: 60px;
    box-shadow: 1px 2px 15px black;
    font-size: 21px;
line-height: 1.19;
}
.item-text p {
font-size: 20px;
}
.item-author p {
font-size: 12px;
}

